.hover-shadow:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
  box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.1);
}

.custom-btn {
  transition: background-color 0.3s ease, transform 0.3s ease;
  /* transition: all 0.3s ease; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* .custom-btn:hover {
  background-color: #0056b3; 
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
} */

.custom-btn:hover {
  background-color: #0056b3;/* Slightly darker blue */
  /* transform: translateY(-2px); */
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.6);
  transform: scale(1.05);
}

.hover-glow:hover {
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.4);
  transform: translateY(-4px);
  transition: all 0.3s ease;
}
